@forward '@intermesh/goui/style/util';
@use '@intermesh/goui/style/util';
@forward '@intermesh/goui/style/config' with (
	$resourcePath: "../../../../node_modules/@intermesh/goui/resources/",
	$borderWidth: 1px,
	$baseLineHeight: util.dp(20),
	$fontSize: util.sp(16)
);