@use '../../goui/style/util';
@use '../../goui/style/config';

.goui-share-panel {
	.goui-avatar {
		margin-right: util.dp(16);
	}
}

.goui.form-window {
	min-width: util.dp(300);
	min-height: util.dp(300);
}

// native window resizing for goui
.goui-module-panel {
	position:fixed;
	inset: util.dp(64) 0 0;
	.x-grid3 {
		background-color: transparent; // for extjs filter panel in sidebar
	}
}

.customfield-suffix {
	height: util.dp(46);
	padding: util.dp(14);
}

.goui.link-detail {
	table {
		cursor: pointer;
	}
}

.list.checkbox-list {
	padding-bottom: util.dp(16);
	li {
		padding-left: util.dp(16);
		.goui-form-field.check {
			.control {
				.box-label {
					padding-top: util.dp(4);
					padding-bottom: util.dp(4);
				}
			}
		}
	}
}

//@media (orientation: landscape) and (max-device-width: config.$breakpointMedium) {
	//.goui-module-panel {
	//	top : 0;
	//}
	//aside ~ .vbox > .goui-toolbar {
	//	margin-right: util.dp(240);
	//}
//}


.image-field {

	align-items: start;

	.image-field-container{

	}

	.goui-avatar {
		margin: 0 auto;
	}
	.goui-toolbar {
		margin: 0;
	}
}

h4.goui {
	font: config.$fontBase;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.goui.card.module {

	width: util.dp(400);

	.desc {
		margin: util.dp(16) util.dp(16)  0 util.dp(16);
		display: flex;
		flex-direction: row;
		gap: util.dp(16);

		> div {
			min-width: 0;
			flex: 1;
		}

		img {
			margin-top: util.dp(8);
			width: util.dp(64);
			height: util.dp(64);
			//margin: 0 util.dp(16);
			//padding: util.dp(8) util.dp(16);
		}

		p {
			height: util.dp(60);
			text-overflow: ellipsis;
			overflow: hidden;
			margin: 0;
		}
	}
}

.goui.apps {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, max-content));
	grid-gap: 1.6rem;
	justify-content: center;
	padding: initial;
	overflow-y: scroll;
	flex: 1;
	align-content: start;
	position: relative;
	h3 {
		//width: 100%;
		position:sticky;
		top: 0;
		z-index: 1;
		background-color: config.$surfaceLow;
		grid-column: 1 / -1;
		padding: util.dp(16) 0 util.dp(8);

		border-bottom: util.dp(4) solid config.$colorPrimary;
	}
}