@use '../../goui/style/util';
@use '../../goui/style/config';

.goui-share-panel {
	.goui-avatar {
		margin-right: util.dp(16);
	}
}

.goui.form-window {
	min-width: util.dp(300);
	min-height: util.dp(300);
}

// native window resizing for goui
.goui-module-panel {
	position:fixed;
	inset: util.dp(64) 0 0;
	.x-grid3 {
		background-color: transparent; // for extjs filter panel in sidebar
	}
}

.customfield-suffix {
	height: util.dp(46);
	padding: util.dp(14);
}

.goui.link-detail {
	table {
		cursor: pointer;
	}
}

.list.checkbox-list {
	padding-bottom: util.dp(16);
	li {
		padding-left: util.dp(16);
		.goui-form-field.check {
			.control {
				.box-label {
					padding-top: util.dp(4);
					padding-bottom: util.dp(4);
				}
			}
		}
	}
}

//@media (orientation: landscape) and (max-device-width: config.$breakpointMedium) {
	//.goui-module-panel {
	//	top : 0;
	//}
	//aside ~ .vbox > .goui-toolbar {
	//	margin-right: util.dp(240);
	//}
//}


.image-field {

	align-items: start;

	.image-field-container{

	}

	.goui-avatar {
		margin: 0 auto;
	}
	.goui-toolbar {
		margin: 0;
	}
}