@use '../../goui/style/util' as *;
@use '../../goui/style/config' as *;
@use '../../goui/style/layout';

.main-container {
	.header {
		background-color: $colorMain;
		position:relative;

		button.goui-button {
			color: white;
		}

		.overlay {
			background-color: $colorMain;

			.goui-form-field .wrap {
				background-color: rgba(255,255,255,0.1);
				.goui-button {
					i.icon {
						color: white;
					}
				}
			}
			.goui-form-field input.control {
				background-color: transparent;
				color: white;

				&::placeholder {
					color: #dedede;
					font-style: italic;
				}
			}
		}
	}

	menu.goui-toolbar.header-right {
		padding: 0 1.6rem 0 0;
	}
	menu.goui-toolbar.goui-cardmenu.main-menu {

		padding:0;

		.btn-overflow {
			display: none;
		}

		button.goui-button {
			color: white;
			font-weight: normal;
			opacity: .8;

			&.active {
				opacity: 1;
			}
		}
	}

}


.app-settings-panel {
	@extend .card;
}

.login-overlay {
	background: #0f386e;
	background: linear-gradient(30deg, rgba(15, 56, 110, 1) 26%, rgba(25, 111, 224, 1) 100%);
	&:after {
		background-color: transparent;
		opacity: 1;
		background-image: url("./resources/groupoffice-logo-white.svg");
		background-repeat: no-repeat;
		background-size: 20rem auto;
		background-position: 1.6rem 1.6rem;
	}
}