@use '../../goui/style/util' as *;
@use '../../goui/style/config' as *;

.goui-cardmenu.main-menu {
	background-color: $colorMain;
	button.goui-button {
		color: white;
		font-weight: normal;
		opacity: .8;
		&.active {
			opacity: 1;
		}
	}
}