@use '../../goui/style/util' as *;
@use '../../goui/style/config' as *;

.main-container {
	.header {
		background-color: $colorMain;
		position:relative;

		button.goui-button {
			color: white;
		}

		.overlay {
			background-color: $colorMain;

			.goui-form-field .wrap {
				background-color: rgba(255,255,255,0.1);
				.goui-button {
					i.icon {
						color: white;
					}
				}
			}
			 .goui-form-field input.control {
			background-color: transparent;
				color: white;

				&::placeholder {
					color: #dedede;
					font-style: italic;
				}
			}
		}
	}

	menu.goui-toolbar.goui-cardmenu.main-menu {

		button.goui-button {
			color: white;
			font-weight: normal;
			opacity: .8;

			&.active {
				opacity: 1;
			}
		}
	}

}