@use '../../goui/style/util' with (
	$font-scale: 1.1
);
@use '../../goui/style/config' with (
	$resourcePath: "../../goui/resources/",
	$borderWidth: 1px,
	$baseLineHeight: util.dp(20),
	$fontSize: util.sp(16)
);

@use '../../goui/style/index';
@use 'theme' with (
	$density: 44.53125%,
	$mobile-density: 54%
);
@use 'general';


.goui-window .header.goui-toolbar {
	height: util.dp(48);
	line-height: util.dp(48);
	font-size: .8em;
	.goui-button {
		background-color:transparent;
		width: util.dp(32);
		height: util.dp(32);
		min-height: util.dp(32);
		padding: 0 util.dp(2);
		margin: util.dp(3) 0;
		&:hover{
			background-color: config.$colorMain;
			color:white;
		}
	}
}

.goui-form-field.check div.control {
	padding: util.dp(8) 0 !important;
}

.vbox > .goui-toolbar:not(.header) .goui-button:not(.filled):not([type="submit"]) {
	background-color:var(--bg-bright);
}

menu.goui-dropdown>li hr {
	margin: util.dp(6);
}