
@use '../../goui/style/util';
@use '../../goui/style/config' with (
	$resourcePath: "../../goui/resources/",
	$borderWidth: 1px,
	$baseLineHeight: util.dp(20),
	$fontSize: util.sp(16)
);

@use '../../goui/style/index';
@use 'theme';
@use 'general';
@use 'compact';
@use 'main';