$density: 46%;
$font-scale: 1.1;

@import 'groupoffice.scss';

.goui-window .header.goui-toolbar {
	height: dp(40);
	line-height:dp(40);
	font-size: .8em;
	.goui-button {
		background-color:transparent;
		width:dp(32);
		height:dp(32);
		padding: 0 dp(2);
		margin:dp(3) 0;
		&:hover{
			background-color:$colorMain;
		}
	}
}

.goui-form-field.check div.control {
	padding: dp(8) 0 !important;
}

.vbox > .goui-toolbar .goui-button {
	background-color:var(--bg-bright);
}
menu.goui-dropdown>li hr {
	margin: dp(6);
}