@import '../../goui/style/_util.scss';
@import '../../goui/style/_config.scss';

.goui-share-panel {
	.goui-avatar {
		margin-right: dp(16);
	}
}

.goui.form-window {
	min-width: dp(300);
	min-height: dp(300);
}